*{
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(180, 179, 179);
}
.App{
  padding: 70px;
}
.button-selected{
  background: lightgreen;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
.name{
  display: flex;
}
.name input{
  margin-right: 6px;
  height: 30px;
  margin-left: 6px;
  background-color: white;
  border: none;
  
}
.input-container{
  display: flex;
  margin-top: 15px;
}
.data input{
  width: 350px;
  height: 30px;
  margin-left: 6px;
  background-color: white;
  border: none;
}
.card button{
  margin: 20px;
}
.card li{
  
  list-style: none;
}
.card h3{
  
}

 